.blog-upload-panel {
    width: 70%;
    margin: 2rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .textareasize{
    height: 18rem;
  }


  input,
  textarea {
    resize: none;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 60px;
    gap: 3rem;
  }
  
  .post-button,
  .reset-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reset-button {
    background-color: #dc3545;
  }